<!doctype html>
<html lang="{{ site.lang | default: "pt-BR" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>API SIAFI - SERPRO</title>
    <!-- <title>{{ site.title | default: site.github.repository_name }} por {{ site.github.owner_name }} </title>-->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/devserpro/api-siafi/master/_layouts/css/jPopup.css" />
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" href="https://raw.githubusercontent.com/devserpro/consulta-cpf/master/img/serpro.png" type="image/png" />
    
    <style>
    .botao01{
         background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
         background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
         background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
         background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
         background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
         border: 1px solid #CCCCCE;
         border-radius: 3px;
         box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                       0 2px 7px rgba(0, 0, 0, 0.2);
         color: #616165;
         font-family: "Trebuchet MS";
         font-size: 14px;
         font-weight: bold;
         line-height: 25px;
         text-align: center;
         text-decoration: none;
         text-transform: uppercase;
         text-shadow:1px 1px 0 #FFF;
         padding: 5px 15px;
         cursor: pointer;
        }
	.swagger-container {
		float: left !important;
		width: 100% !important;
	}
	.information-container section {
		float: left !important;
		width: auto !important;
	}
	small pre {
		background-color: transparent !important;
		border: 0px solid !important;
	}
	.swagger-ui .wrapper {
		max-width: 97% !important;
	}
	.clear {
		clear: both;
	}
	.swagger-ui .auth-btn-wrapper {
		clear: both;
	}
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><!--{{ site.title | default: site.github.repository_name }}-->API Consulta CPF</h1>
        <p><!--{{ site.description | default: site.github.project_tagline }}-->Disponibilizado e comercializado pelo SERPRO</p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">Veja o projeto no GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">Veja meu Perfil no GitHub</a></p>
        {% endif %}

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">Ver no <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
        
        <div style="width: 100%; text-align: center;">
          <img src="https://raw.githubusercontent.com/devserpro/consulta-cpf/master/img/logo-consulta-cpf.png" style="width: 70%;" title="API Consulta CPF" />
          <br /><br /><br />
          <button title="Teste a API" class="openPopup botao01" style="margin-bottom: 10px !important;">DEMONSTRAÇÃO</button>
        </div>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>Projeto mantido por <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hospedado em GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <div style="width: 100%; text-align: center;">
          <img src="https://raw.githubusercontent.com/devserpro/consulta-cpf/master/img/logo.png" style="width: 50%;" title="SERPRO" />
        </div>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script src="https://cdn.rawgit.com/devserpro/api-siafi/master/_layouts/js/jPopup.min.js"></script>
    <script src="https://cdn.rawgit.com/devserpro/api-siafi/master/_layouts/js/swagger2/swagger-ui-bundle10.js"></script>
    <script src="https://cdn.rawgit.com/devserpro/api-siafi/master/_layouts/js/swagger2/swagger-ui-standalone-preset.js"></script>

	  
  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
    <script>	    
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    window.onload = function() {
      var bearer = getParameterByName('bearer');
      if (bearer != null) {
        var exec = "curl -X GET --header \"Accept: application/json\" --header \"Authorization: Bearer " + bearer +"\" \"https://apigateway.serpro.gov.br/consulta-cpf/v1/99999999999\"";
        var div = document.getElementsByClassName('language-curlBearer');
        var divBearer = div[0];
        divBearer.innerHTML = exec;
        var div2 = document.getElementsByClassName('bearer');
        var div2Bearer = div2[0];
        div2Bearer.innerHTML = bearer;
      } else {
	      
      }
    };
    
    document.querySelector('.openPopup').addEventListener('click', function() {
	var jPopupDemo = new jPopup({
		contentHtml: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:absolute;width:0;height:0">\
				  <defs>\
					<symbol viewBox="0 0 20 20" id="unlocked">\
						  <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V6h2v-.801C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8z"></path>\
					</symbol>\
					<symbol viewBox="0 0 20 20" id="locked">\
					  <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8zM12 8H8V5.199C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8z"/>\
					</symbol>\
					<symbol viewBox="0 0 20 20" id="close">\
					  <path d="M14.348 14.849c-.469.469-1.229.469-1.697 0L10 11.819l-2.651 3.029c-.469.469-1.229.469-1.697 0-.469-.469-.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-.469-.469-.469-1.228 0-1.697.469-.469 1.228-.469 1.697 0L10 8.183l2.651-3.031c.469-.469 1.228-.469 1.697 0 .469.469.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c.469.469.469 1.229 0 1.698z"/>\
					</symbol>\
					<symbol viewBox="0 0 20 20" id="large-arrow">\
					  <path d="M13.25 10L6.109 2.58c-.268-.27-.268-.707 0-.979.268-.27.701-.27.969 0l7.83 7.908c.268.271.268.709 0 .979l-7.83 7.908c-.268.271-.701.27-.969 0-.268-.269-.268-.707 0-.979L13.25 10z"/>\
					</symbol>\
					<symbol viewBox="0 0 20 20" id="large-arrow-down">\
					  <path d="M17.418 6.109c.272-.268.709-.268.979 0s.271.701 0 .969l-7.908 7.83c-.27.268-.707.268-.979 0l-7.908-7.83c-.27-.268-.27-.701 0-.969.271-.268.709-.268.979 0L10 13.25l7.418-7.141z"/>\
					</symbol>\
					<symbol viewBox="0 0 24 24" id="jump-to">\
					  <path d="M19 7v4H5.83l3.58-3.59L8 6l-6 6 6 6 1.41-1.41L5.83 13H21V7z"/>\
					</symbol>\
					<symbol viewBox="0 0 24 24" id="expand">\
					  <path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z"/>\
					</symbol>\
				  </defs>\
				</svg>\
			<div id="swagger-ui" style="border-radius: 25px 0px 0px 25px; border: 2px solid #89BF04; height: 420px; width: 100%; overflow-y: auto;"></div>\
			'

		});
	    const ui = SwaggerUIBundle({
				url: "https://cdn.rawgit.com/devserpro/api-siafi/master/_layouts/swagger-cpf19.json",
				dom_id: '#swagger-ui',
				"securityDefinitions": {
					"login": {
						"type": "oauth2"
					}
				},
				presets: [
				  SwaggerUIBundle.presets.apis,
				  SwaggerUIStandalonePreset
				],
				plugins: [
				  SwaggerUIBundle.plugins.DownloadUrl
				],
				layout: "StandaloneLayout"
			  });

			  window.ui = ui;
	    		 

    });
    </script>
  </body>
</html>
